@import url('https://fonts.googleapis.com/css2?family=Shizuru&family=ZCOOL+QingKe+HuangYou&display=swap');

body {
    padding-left: 5rem;
    padding-right: 5rem;
}


.name{
    font-size: 4rem;
}


.container__LG{
    padding: 2rem;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 2rem;
}


.content-box {
    padding-top: 5rem;
    display:flex;
    align-items: center;
    justify-content:center;
}


.card__LG{
    padding: 2rem;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:50rem;
    box-shadow: 2px 2px 8px 4px #121212d1;
    background-color: rgb(228, 81, 81);
    border-radius:15px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 5rem;
    align-content: center;
}

